{% extends 'admin/_base.html.twig' %}
{% set menu = "dashboard" %}

{% block content %}
<h1 class="ui header">Dashboard</h1>

<h3 class="ui dividing header">Tracks &amp; Albums</h3>
<div class="ui three statistics">
  <div class="statistic">
    <div class="value">
      {{ itemsStats.total|number_format(0, '.', ' ') }}
    </div>
    <div class="label">
      Items total
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <img src="{{ asset("/img/dashboard/song.png") }}" class="ui circular inline image"> {{ itemsStats.tracks|number_format(0, '.', ' ') }}
    </div>
    <div class="label">
      Tracks
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <img src="{{ asset("/img/dashboard/album.png") }}" class="ui circular inline image"> {{ (itemsStats.total - itemsStats.tracks)|number_format(0, '.', ' ') }}
    </div>
    <div class="label">
      Albums
    </div>
  </div>
</div>

<h3 class="ui dividing header">API</h3>
<div class="ui seven small statistics">
  <div class="blue statistic">
    <div class="value"><img src="{{ asset("/img/dashboard/users.png") }}" class="ui circular inline image" style="max-height: 2rem; margin-right: 10px;">{{ activeClients|length }}</div>
    <div class="label">Active Clients</div>
  </div>
  {% for key in apiStats %}
    <div class="statistic">
      <div class="value">{{ apiStats[key]|number_format(0, '.', ' ') }}</div>
      <div class="label">/{{ key }}</div>
    </div>
  {% endfor %}
</div>
{% endblock %}