{% extends 'admin/_base.html.twig' %}
{% set menu = "clients" %}

{% block content %}
<h1>API Clients</h1>

<h3 class="ui dividing header">Actions</h3>
<p><a class="ui button green" href="{{ path_for('admin_new_client') }}"><i class="ui icon add"></i> Create new client</a></p>

<h3 class="ui dividing header">List</h3>
<table class="ui structured celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="ui icon calendar"></i> Since</th>
      <th>Description</th>
      <th><i class="ui icon hashtag"></i> Key</th>
      <!-- <th><i class="ui icon key"></i> Secret</th> -->
      <th>Items</th>
      <th>Calls</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    {% set revoked = (client.client_id[:8] == "REVOKED_")?" class='negative'":"" %}
    <tr{{ revoked|raw }}>
      <td><strong>{{ client.name }}</strong></td>
      <td>{{ client.created_at|date('d/m/y') }}</td>
      <td>
          {% if client.description %}{{ client.description|default('N/A')}}<br>{% endif %}
          {% if client.url %}<a href="{{ client.url }}" target="_blank">Website</a><br>{% endif %}
          <a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
      <td>{% if client.client_id[:8] == "REVOKED_" %}<span style="text-decoration: line-through;">{{ client.client_id[8:] }}</span>{% else %}{{ client.client_id }}{% endif %}</td>
      <!-- <td>{{ client.client_secret }}</td> -->
      <td>{{ client.items|number_format(0,'.',' ') }}</td>
      <td>—</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready( function () {
      $('table').DataTable({
        "order": [[ 4, "desc" ]],
        "paging": false,
        "info": false
      });
  } );
  </script
{% endblock %}