{% extends 'admin/_base.html.twig' %}
{% set menu = "clients" %}

{% block content %}
<h1>API Clients</h1>

<h3 class="ui dividing header">Actions</h3>
<p><a class="ui button green" href="{{ path_for('admin_new_client') }}"><i class="ui icon add"></i> Create new client</a></p>

<h3 class="ui dividing header">List</h3>
<table class="ui structured celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="ui icon calendar"></i> Since</th>
      <th>Description</th>
      <th><i class="ui icon hashtag"></i> Key</th>
      <th style="min-width: 60px">Items</th>
      <th>Calls</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
      {% set revoked = client.active?"":" class='negative'" %}
      <tr{{ revoked|raw }}>
        <td><strong>{{ client.name }}</strong></td>
        <td>{{ client.created_at|date('d/m/y') }}</td>
        <td>
            {% if client.description %}{{ client.description|default('N/A')}}<br>{% endif %}
            {% if client.url %}<a href="{{ client.url }}" target="_blank">{{ client.url }}</a><br>{% endif %}
            <a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
        <td><span{% if not client.active %} style="text-decoration: line-through;"{% endif %}>{{ client.client_id }}</span></td>
        <td>{{ client.items|number_format(0,'.',' ') }}</td>
        <td>
          {% for item in stats[client.client_id] %}
            {{ item['method'] }} → {{ item['count']|number_format(0,'.',' ') }}<br>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready( function () {
      $('table').DataTable({
        "order": [[ 4, "desc" ]],
        "paging": true,
        "pageLength": 50,
        "info": true
      });
  } );
  </script
{% endblock %}