{% import "macros/tools.twig" as tools -%}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/{{ schemaType }}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xml:lang="{{ locale }}" lang="{{ locale }}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# tuneefy: http://ogp.me/ns/fb/tuneefy#">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="content-language" content="{{ locale }}">
  
  <meta name="description" content="{{ "description"|trans }}" />
  <meta name="keywords" content="{{ "keywords"|trans }}" />

  {% block social %}
    <title>{{ ("pages." ~ page ~ ".title")|trans }} — tuneefy</title>
    <meta property="og:title" content="{{ ("pages." ~ page ~ ".title")|trans }} | tuneefy"/>
    <meta property="og:url" content="{{ url_for('home') }}"/>
    <meta property="og:image" content="/img/social.png"/>
    <meta property="og:type" content="website"/>
    
    <meta itemprop="name" content="{{ ("pages." ~ page ~ ".title")|trans }} | tuneefy">
    <meta itemprop="description" content="{{ "description"|trans }}">
    <meta itemprop="image" content="/img/social.png">
  {% endblock %}

  <meta property="fb:app_id" content="{{ params.facebook.app_id }}">
  <meta property="og:site_name" content="tuneefy"/>
  <meta property="fb:admins" content="{{ params.facebook.admin_user }}"/>

  <link rel="icon" type="image/png" href="/favicon.png" />
  <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /><![endif]-->

  <meta content="yes" name="apple-mobile-web-app-capable" />
  <link href="/img/social.png" rel="apple-touch-icon" />

  <link rel="stylesheet" href="/build/css/styles.css"/>
  {% if embed %}<link rel="stylesheet" href="/build/css/embed.css"/>{% endif %}

  <script type="text/javascript">var fb_app_id = '{{ params.facebook.app_id }}';</script>
</head>
<body class="Bcolor">

  {% if not embed %}
    <div class="hideAll"></div>
    <div class="ribbon"><a href="https://github.com/tchapi/tuneefy2" rel="me">{{ "github"|trans }}</a></div>
  {% endif %}

  <div id="wrapper">
  
    <div id="header-wrapper" class="full Fcolor txtColor">
      <div class="wrap clear" id="header">
    
        <div id="lang">
          <span{% if locale == 'en_US' %} class="activeLang"{% endif %} lang="en_US">EN</span>
          <span{% if locale == 'fr_FR' %} class="activeLang"{% endif %} lang="fr_FR">FR</span>
        </div>
        
        {% apply spaceless %}
        <ul id="navigation">
          <li><a{% if page == "home" %} class="current txtS3"{% endif %} title="{{ "pages.home.tip"|trans }}" href="{{ url_for('home') }}"><img class="homeImg" src="/img/home_pic.png" width="12px" height="14px" />{{ "pages.home.title"|trans }}</a></li>

          <li><a{% if page == "trends" %} class="current txtS3"{% endif %} title="{{ "pages.trends.tip"|trans }}" href="{{ url_for('trends') }}">{{ "pages.trends.title"|trans }}</a></li>

          <li><a{% if page == "about" %} class="current txtS3"{% endif %} title="{{ "pages.about.tip"|trans }}" href="{{ url_for('about') }}">{{ "pages.about.title"|trans }}</a></li>
        </ul>
        {% endapply %}

      </div>
    </div>

    <div id="content-wrapper" class="full">
      <div class="wrap clear bdBot" id="content">
        <div id="tagline" class="bdBot">
          <a href="{{ url_for('home') }}"{% if embed %} target="_blank"{% endif %}><h1 class="logo color"><img src="/img/logo.png" width="267" height="133" alt="tuneefy"/></h1> </a>
          <p class="tagline txtS">{{ "tagline"|trans|raw }}</p>
        </div>

        {% block content %}{% endblock %}

      </div>
    </div>
  </div>

  <div id="footer-wrapper" class="full">
    <div id="footer" class="wrap bdTop txtS">
      <div class="endorsement bdBot">{{ "endorsement"|trans }}</div>
      <div class="copycon bdTop">
        <div class="copyright"><img src="/img/logo_footer.png" width="115" alt="{{ "copyright"|trans }}" /></div>
        <div class="conditions">{{ "copyright"|trans }} &nbsp; <a href="{{ url_for('about') }}#contact">{{ "contact"|trans }}</a> &nbsp; <a href="https://twitter.com/tuneefy" target="_new" rel="nofollow" class="twitterLink">{{ "follow_twitter"|trans }}</a></div>
      </div>
    </div>
  </div>

{% block javascript %}
  <script type="text/javascript">
    var $DOMAIN = "{{ params.website.cookie_domain }}";
  </script>
  {% if params.statistics.ga_tracker_id %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ params.statistics.ga_tracker_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endif %}
  <script type="text/javascript" src="/build/js/vendor/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/build/js/main.js"></script>
{% endblock %}

</body>
</html>