{% set schemaType, page = "WebPage", "about" %}

{% extends '_base.html.twig' %}

{% block content %}
<div id="about-wrapper" class="bdTop bdBot txtS">
  <h2 class="color aboutTitle">{{ "pages.about.title_long"|trans|raw }}</h2>
  
  <div class="aboutRow boxed boxS">
    <div class="item1 img_info">{{ "facts.info"|trans|raw }}</div>
    <div class="item2 img_friends">{{ "facts.friends"|trans|raw }}</div>
  </div>
  
  <div class="aboutRow">
    <div class="item1 img_pertinence">{{ "facts.pertinence"|trans|raw }}</div>
    <div class="item2 img_widget">{{ "facts.minify"|trans({"%minified%": "javascript:(function(){tb=document.createElement('SCRIPT');a.type='text/javascript';a.src='" ~ params.urls.front  ~ "/build/js/widget.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(a);})();"})|raw }}</div>
  </div>
  
  <div class="aboutRow boxed boxS">
    <div class="item1 img_patterns"><a name="patterns">{{ "facts.supported"|trans|raw }}</a>
    </div>
    <div class="item2 img_free txtS" id="examples">
      {{ "facts.free"|trans|raw }}
      </div>
  </div>
  
</div>

<div id="os-wrapper" class="bdTop bdBot txtS">
  <h2 id="free" class="color aboutTitle">{{ "os.title_long"|trans|raw }}</h2>
    <div class="aboutRow boxed boxS">
      <h2 class="os_subtitle">{{ "os.paragraph_1_important"|trans|raw }}</h2>
      <div class="os_box">{{ "os.paragraph_1"|trans|raw }}</div>
      <div class="os_subtitle">{{ "os.paragraph_2_thanks"|trans|raw }}</div>
    </div>
</div>

<div id="team-wrapper" class="bdTop txtS">
  <a name="us"></a>
  <div class="theTeam">
    <h2 class="color aboutTitles">{{ "pages.about.team"|trans|raw }}</h2>
    <a href="https://github.com/tchapi" target="_blank"><div class="creator idea">{{ "facts.team_idea"|trans|raw }}</div></a>
    <a href="https://twitter.com/#!/_W___" target="_blank"><div class="creator design">{{ "facts.team_design"|trans|raw }}</div></a>
  </div>
  <div class="contactUs">
    <a name="contact"></a>
    <h2 class="color aboutTitles">{{ "contact_us.title"|trans|raw }}</h2>
    <div id="contactFormWrapper">
      <form class="contactForm" action="{{ url_for('mail') }}">
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <label for="email">{{ "contact_us.email"|trans|raw }}</label><input type="text" id="email" name="email" class="boxS5" />
        <label for="message">{{ "contact_us.message"|trans|raw }}</label><textarea  id="message" name="message" class="boxS5" ></textarea>
        <a id="send" class="btn btnSendEmail">{{ "contact_us.send"|trans|raw }}</a>
      </form>
      <div class="waitingMail">{{ "mail.sending"|trans|raw }}</div>
      <div class="successMail">{{ "mail.success"|trans|raw }}</div>
      <div class="errorMail">{{ "mail.error"|trans|raw }}</div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="https://www.google.com/recaptcha/api.js?render={{ params.mail.captcha_key }}"></script>
  <script type="text/javascript" src="/build/js/about.js"></script>
  <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ params.mail.captcha_key }}', {action: 'contact'}).then(function(token) {
          document.getElementById('g-recaptcha-response').value = token;
        });
    });
  </script>
{% endblock %}
