{% set schemaType, page = "WebPage", "home" %}

{% extends '_base.html.twig' %}

{% block content %}

<div id="preSearch" class="bdBot bdTop">

  <div class="boxed boxS">
    <div id="info">
      <h2 class="infoTitle color">{{ "pages.home.welcome"|trans }}</h2>
      <p class="infoContent">{{ "pages.home.content"|trans|raw }}</p>
      <a class="btn btn_more" href="{{ path_for('about') }}">{{ "pages.home.more_info"|trans }}</a>
    </div>

    <div id="todaysPickOverlay"></div>
    <div id="pickPager">
      <div class="pickPagerItem Bcolor active"></div>
      <div class="pickPagerItem Bcolor"></div> 
    </div>
  </div>
  
</div>

<div id="searchForm" class="wrap bdTop">
 <div id="moreOptions" ><img src="/img/more_options.png" width="160" height="60" title="{{ "search.moreOptionsAlt"|trans }}"/></div>

  <form id="find" action="{{ path_for('aggregate', {type: '%type%'}) }}">

    <div id="basic">
      <input type="text" id="query" name="query" class="boxS5" value="{{ request?:"search.query_label"|trans }}" data-placeholder="{{ "search.query_label"|trans }}"/>
      <div id="searchType" class="boxed boxS">
        <div id="searchTypeInner">
          <span id="typeAlbums" class="off">{{ "search._albums"|trans }}</span>
          <span id="typeTracks">{{ "search._tracks"|trans }}</span>
          <input type="checkbox" id="searchTypeCheckbox" checked='checked' />
        </div>
      </div>
      <input type="submit" id="launch" class="txtSinv boxS2" value="{{ "search.search_button"|trans }}"/>
      <div id="resetQuery" style="display: none;"></div>
      <div id="options"></div>
      <div id="waiting" style="display: none;"><img src="/img/ajax-loader.gif" /></div>
    </div>
  
    <div id="help" style="display:none;" class="txtS">
      <div class="neverAgain"><span class="closeForever">{{ "help.text_close"|trans }}</span><span class="closeHelp"></span></div>
      <div class="helpMe">
      <span class="color helpTitle">{{ "help.text_title"|trans }}</span>
      {{ "help.text"|trans }}
      </div>
      <div class="moreHelp">
      <span>{{ "help.text_more"|trans }}</span>
      <a class="btn btnMoreHelp" href="/about#patterns">{{ "help.text_more_button"|trans }}</a>
      </div>
      <div class="helpTriangle"></div>
    </div>

    <div id="hideMisere" style="display:none;"></div>
    <div id="advanced" style="display:none;" class="shd">
      <div id="availablePlatforms" class="boxS3">
        <span class="filter">{{ "search.available_platforms"|trans }}</span>
        {% for platform in platforms %}
          <a class="btns btn_{{ platform.tag }} off" rel="{{platform.tag}}" id="platform_{{ platform.tag }}" data-platform-tag="{{ platform.tag }}" title="{{ platform.name }}" ></a>
        {% endfor %}
      </div>
      <div id="mergeResults" class="boxS3">
        <span class="merge">{{ "search.merge_label"|trans }}</span>
        <input type="checkbox" id="aggressive" checked="checked" data-yes="{{ "yes"|trans }}" data-no="{{ "no"|trans }}"/>
      </div>
    </div>
    
  </form>
</div>

<div id="alerts" class="wrap" ></div>
<div id="results" class="wrap" ></div>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script type="text/javascript">
    var $default_platforms = "{{ default_platforms }}";
  </script>
  <script type="text/javascript" src="/js/vendor/iphone-style.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>
{% endblock %}
