{% set schemaType, page = "MusicAlbum", "album" %}

{% extends '_base.html.twig' %}

{% block social %}
  <title>{{ item.getSafeTitle }} | {{ item.getArtist }} — tuneefy</title>
  <meta property="og:title" content="{{ item.getSafeTitle }} | {{ item.getArtist }}"/>
  <meta property="og:url" content="{{ params.urls.front }}{{ url_for('show', { uid: uid, type: "album" }) }}"/>
  <meta property="og:image" content="{{ item.getPicture }}"/>
  <meta property="tuneefy:artist" content="{{ item.getArtist }}"/>
  <meta property="tuneefy:album" content="{{ item.getSafeTitle }}>" />
  <meta property="og:description" content="{{ "album.description"|trans({"%artist%": item.getArtist, "%album%": item.getSafeTitle}) }}"/>
  <meta property="og:type" content="{{ context.slack?'website':'tuneefy:album' }}"> 

  <meta itemprop="name" content="{{ item.getSafeTitle }} | {{ item.getArtist }}">
  <meta itemprop="description" content="{{ "album.description"|trans({"%artist%": item.getArtist, "%album%": item.getSafeTitle}) }}">
  <meta itemprop="image" content="{{ item.getPicture }}">
{% endblock %}

{% block content %}

{% if not embed %}
<div id="shareTitle" class="bdTop color"><p>{{ "album.intro"|trans }}</p></div>
{% endif %}

<div id="shareBox" class="{% if embed %}bdTop{% else %}boxed boxS txtS{% endif %}">

  <div id="trackInfo" class="bdBot">
    {% if embed %}
    <a href="{{ params.urls.front }}{{ url_for('show', { uid: uid, type: "album" }) }}" target="_blank" title="{{ "album.seeOnTuneefy"|trans }}">
    {% endif %}
    <div class="cover">
      <img src="{{ item.getPicture?:'/img/nothumb_album.png' }}" width="82" height="82" />
      <span class="coverlay"></span>
    </div>
    {% if embed %}</a>{% endif %}

    <div class="info">
      <div class="infoWrapper">
        <div class="infoContent">
          {% if embed %}
            <a href="{{ params.urls.front }}{{ url_for('show', { uid: uid, type: "album" }) }}" target="_blank" title="{{ "album.seeOnTuneefy"|trans }}" >
              <div class="title">{{ tools.ellipsis(item.getSafeTitle, 40) }}
                <img class="newWindow" src="{{ params.url.frontend }}/img/new_window.png" width="14" />
              </div>
            </a>
          {% else %}
            <div class="title">{{ tools.ellipsis(item.getSafeTitle, 40) }}</div>
          {% endif %}
          <div class="artist">{{ tools.ellipsis(item.getArtist, 40) }}</div>
          {% if embed %}
          <div id="platforms">
            {% for key, links in item.links %}
              {% if links|length > 0 and compact|default(true) %}
                  <a target="_blank" class="btns btn_{{ key }}" href="{{ url_for('listen', { 'type': 'album', 'uid': uid, 'platform': key, 'i': 0 }) }}" title="{{ "listen_to"|trans({name: item.getSafeTitle, platform: platform.name}) }}"></a>
              {% else %}
                {% for i, link in links %}
                    <a target="_blank" class="btns btn_{{ key }}" href="{{ url_for('listen', { 'type': 'album', 'uid': uid, 'platform': key, 'i': i }) }}" title="{{ "listen_to"|trans({name: item.getSafeTitle, platform: platform.name}) }}"></a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  {% if not embed %}
  <div id="platforms" class="bdBot bdTop2">
    <div class="listenTitle">{{ "album.listen_to"|trans }}</div>

      {% for key, links in item.links %}
        {% if links|length > 0 and compact|default(true) %}
            <a target="_top" class="btns_full btn_full_{{ key }}" href="{{ url_for('listen', { 'type': 'album', 'uid': uid, 'platform': key, 'i': 0 }) }}" title="{{ "listen_to"|trans({name: item.getSafeTitle, platform: platform.name}) }}"></a>
        {% else %}
          {% for i, link in links %}
              <a target="_top" class="btns_full btn_full_{{ key }}" href="{{ url_for('listen', { 'type': 'album', 'uid': uid, 'platform': key, 'i': i }) }}" title="{{ "listen_to"|trans({name: item.getSafeTitle, platform: platform.name}) }}"></a>
          {% endfor %}
        {% endif %}
      {% endfor %}

  </div>
  
  <div id="share" class="bdTop2">
    <div class="shareTitle">{{ "album.share"|trans }}</div>
    
    <div id="linkHolder" class="boxSinv">
      <input type="text" readonly="readonly" value="{{ params.urls.front }}{{ url_for('show', { uid: uid, type: "album" }) }}" id="shareLink" class="boxS5"/>
    </div>
  
    <div id="socialHolder" class="boxSinv">
      <a id="embed" onclick="toggleEmbed(); return false;" title="{{ "album_embed"|trans }}"></a>
      <a id="facebookShare" onclick='postToFeed("{{ params.urls.front ~ url_for('show', { uid: uid, type: "album" }) }}", "{{ item.getPicture?:'/img/nothumb_album.png' }}", "{{ item.getSafeTitle ~ ' | ' ~ item.getArtist }}", "{{ "album.description"|trans({"%album%": item.getSafeTitle, "%artist%": item.getArtist}) }}", "{{ "album.facebook_action"|trans }}", "{{ params.urls.front}}"); return false;' title="{{ "album_facebook"|trans }}"></a>
      <a id="twitterShare" onclick="newTweet('{{ "album.twitter_status"|trans({"%album%": item.getSafeTitle, "%artist%": item.getArtist, "%link%": params.urls.front ~ url_for('show', { uid: uid, type: "album" })})|url_encode }}'); return false;" title="{{ "album_twitter"|trans }}"></a>
      <a id="mailShare" title="{{ "album.mail.action"|trans }}" href="mailto:?subject={{ "album.mail.subject"|trans({ "%album%": item.getSafeTitle, "%artist%": item.getArtist})|url_encode }}&body={{ "album.mail.body"|trans({"%link%": params.urls.front ~ url_for('show', { uid: uid, type: "album" }) })|url_encode }}"></a>
    </div>
    
    <div id="embedHolder" class="boxSinv" style="display: none;">
      <textarea readonly="readonly" id="embedContent" class="boxS5">{{ "iframe.code"|trans({"%link%": params.urls.front ~ url_for('show', { uid: uid, type: "album" }) }) }}</textarea>
    </div>
    <div style="clear: both"></div>
  
  </div>
  {% endif %}

</div>

{% endblock %}


{% block javascript %}
  {{ parent() }}
  <script type="text/javascript" src="/js/show.js"></script>
{% endblock %}
