{% set schemaType, page = "MusicAlbum", "album" %}

{% extends '_base.html.twig' %}

{% block social %}
  <title>{{ item.getSafeTitle }} | {{ item.getArtist }} — tuneefy</title>
  <meta property="og:title" content="{{ item.getSafeTitle }} | {{ item.getArtist }}"/>
  <meta property="og:url" content="{{ path_for('show', { uid: uid, type: "album" }) }}"/>
  <meta property="og:image" content="{{ item.getPicture }}"/>
  <meta property="tuneefy:artist" content="{{ item.getArtist }}"/>
  <meta property="tuneefy:album" content="{{ item.getSafeTitle }}>" />
  <meta property="og:description" content="{{ "album.description"|trans({"%artist%": item.getArtist, "%album%": item.getSafeTitle}) }}"/>
  <meta property="og:type" content="<?php echo $slack?"website":"tuneefy:album"; ?>"> 

  <meta itemprop="name" content="{{ item.getSafeTitle }} | {{ item.getArtist }}">
  <meta itemprop="description" content="{{ "album.description"|trans({"%artist%": item.getArtist, "%album%": item.getSafeTitle}) }}">
  <meta itemprop="image" content="{{ item.getPicture }}">
{% endblock %}

{% block content %}

<div><img src="{{ item.getPicture }}" width="100px" height="100px"</div>
<div><strong>{{ item.getSafeTitle }}</strong></div>
<div><em>{{ item.getArtist }}</em></div>

<ul>
{% for key, links in item.links %}
    <li><strong>{{ key }}</strong>
        <ul>
        {% for i, link in links %}
            <li>{{ link }} - <a href="{{ path_for('listen', { 'type': 'album', 'uid': uid, 'platform': key, 'i': i }) }}">listen</a></li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}