{% set schemaType, page = "WebPage", "trends" %}

{% extends '_base.html.twig' %}

{% block content %}
<div id="stats" class="bdTop txtS">
  <h2 class="color statsTitle">{{ "pages.trends.title_long"|trans|raw }}</h2>
  
  <div id="globalStats">
    <h2 class="color">{{ "stats.global"|trans|raw }}</h2>
      <table style="display:none;" id="pieData">
          {% for hit in stats.hits if hit.platform.tag %}
            <tr><th scope="row">
                <span class="id">{{ hit.platform.tag }}</span>
                <span class="name">{{ hit.platform.name }}</span>
                <span class="color">{{ hit.platform.color }}</span>
                </th><td>{{ (hit.count / total * 100)|number_format(1) }}%</td>
            </tr>
          {% endfor %}
      </table>

      <div id="pieChart"></div>

    <ul>
      {% for hit in stats.hits %}
        <li>{{ hit.platform.name }}<span class="figure color">{{ (hit.count / total * 100)|number_format(1) }}%</span></li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="mostViewedArtists" class="boxed boxS">
    <h2 class="color">{{ "stats.most_viewed_artists"|trans({"%limit%": params.website.stats_limit})|raw }}</h2>
    <ul>
      {% set base = (1 / stats.artists[0].count) * 180 %}
      {% for data in stats.artists %}
        <li><span class="name">{{ data.artist }}</span>
            <div class="bar Fcolor" style="width: {{ data.count*base }}px; filter: brightness({{ 100/(1 + loop.index0/4) }}%);"></div><span class="count">{{ "stats.views"|trans({"%val%": data.count})|raw }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="mostViewedTracks">
    <h2 class="color">{{ "stats.most_viewed_tracks"|trans({"%limit%": params.website.stats_limit})|raw }}</h2>
    <ul>
        {% for key, data in stats.tracks %}
            {% set fontSize = 2.3*(1-loop.index/5) + (loop.index/5)*0.6 %}
            <li><span class="count bdBot">{{ "stats.views"|trans({"%val%": data.count})|raw }}</span>
            <span class="order bdTop bdBot">{{ loop.index }}</span><span class="title"><a style="font-size: {{ fontSize }}em" href="{{ path_for('show', {uid: data.uid, type: 'track'}) }}">{{ data.track }}</a></span><span class="artist bdTop">{{ data.artist }}</span>
            </li>
        {% endfor %}
    </ul>
  </div>
  
  <div id="mostViewedAlbums">
  <h2 class="color">{{ "stats.most_viewed_albums"|trans({"%limit%": params.website.stats_limit})|raw }}</h2>
    <ul>
        {% for key, data in stats.albums %}
            {% set fontSize = 2.3*(1-loop.index/5) + (loop.index/5)*0.6 %}
            <li><span class="count bdBot">{{ "stats.views"|trans({"%val%": data.count})|raw }}
            </span><span class="order bdTop bdBot">{{ loop.index }}</span><span class="title"><a style="font-size: {{ fontSize }}em" href="{{ path_for('show', {uid: data.uid, type: 'album'}) }}">{{ data.album }}</a></span><span class="artist bdTop">{{ data.artist }}</span>
            </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}


{% block javascript %}
  {{ parent() }}
  <script type="text/javascript" src="/js/vendor/raphael.min.js"></script>
  <script type="text/javascript" src="/js/trends.js"></script>
{% endblock %}
